<div class="headtext background">
    <div class="flexy">
        <h1 class="bigtext">Carpe diem.</h1>
        <budget-head-dir></budget-head-dir>
    </div>
    <div>
<h2 class="smalltext wrappy">Leave the rest to us.</h2>
<p class="wrappy">Life moves fast. With Budget Buddy, keeping track of your finances has never been easier.</p>
<p class="linky green wrappy" ><a class="linky green" ui-sref="income">Get Started Today</a></p>



<budget-foot-dir class="bottom"></budget-foot-dir>
    </div>
</div>
<!-- 


 -->