<div>
<div class="stupidname"> 
       
</div>
<div class="blackback">
       
    
    <input type="text" placeholder="Income" ng-model="mainincome">
    <button ng-click="addthestuff()">Clicky</button>
    <input type="text" placeholder="Rent" ng-model="mainrent">
    <input type="text" placeholder="Food" ng-model="mainfood">

    <ul>
        <li>Tax bracket BS</li>
        <li>cost of living BS!</li>
        <li>this is NOT the budget page-- taxes info</li>
    </ul>
{{thingy}}
    <div class="container">
        <canvas id="myChart" width="1500" height="800"></canvas>
        </div>
 
        
</div>



</div>

