<div>
<div class="stupidname"> 
        <div class="icon border border-white rounded-circle"></div>
</div>
<div class="blackback" ng-controller="budgetCtrl">
    
    <div>we neeeeeed input boxes and styling lol, maybe empty graphs that fill w information? </div>

    <div id="thecontainer">

        <script>
                
// anychart.onDocumentLoad(function() {
//     // create an instance of a pie chart with data
//     var chart = anychart.line([
//       1,2,3,4,5]);

//     chart.container("thecontainer");
//     chart.draw();


//   });

        </script>

    </div>


</div>



</div>

